.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
    grid-template-areas:    ". . . ." 
                            ". whatch word ." 
                            ". rain hike ." 
                            ". . . .";
}

.projects{
    min-height: 100vh;
    color: rgb(147, 55, 22);
    box-shadow: 1em 2em white;
}

.images{
    width: 100%;
    border: black 2px solid;
    box-shadow: 3px 2px 2px 3px rgb(83, 83, 83);
    border-radius: 4px;
    display: flex;
}


.module {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 40vh;
    width: 40%;
}

  /* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
    .module {
    margin: 0;
    }
}

.whatch{
    grid-area: "whatch";
}

.rain{
    grid-area: "rain";
    height: 40vh;
    width: 100%;
}

.hike{
    grid-area: "hike";
}

.word{
    grid-area: "word";
}